In [1]:
#Reference: Swedish Committee on Analysis of Risk Premium in Motor Insurance.
#Summary In the dataset,
#X = number of claims
#Y = total payment for all the claims in thousands of Swedish Kronor for geographical zones in Sweden
#Reference:
#Swedish Committee on Analysis of Risk Premium in Motor Insurance
#https://college.cengage.com/mathematics/brase/understandable_statistics/7e/students/datasets/slr/frames/slr06.html

In [7]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [33]:
df = pd.read_csv("auto_insurance_sweden.csv")

In [34]:
df

    totalclaims  claimspayment
0           108          392.5
1            19           46.2
2            13           15.7
3           124          422.2
4            40          119.4
..          ...            ...
58            9           87.4
59           31          209.8
60           14           95.5
61           53          244.6
62           26          187.5

[63 rows x 2 columns]

In [30]:
df["total-claims"]

0     108
1      19
2      13
3     124
4      40
     ...
58      9
59     31
60     14
61     53
62     26
Name: total-claims, Length: 63, dtype: int64

0     108
1      19
2      13
3     124
4      40
     ...
58      9
59     31
60     14
61     53
62     26
Name: total-claims, Length: 63, dtype: int64

In [31]:
df["claims-payment"]

0     392.5
1      46.2
2      15.7
3     422.2
4     119.4
      ...
58     87.4
59    209.8
60     95.5
61    244.6
62    187.5
Name: claims-payment, Length: 63, dtype: float64

# fit the model

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
linear = LinearRegression()

In [37]:
linear.fit(df[["totalclaims"]], df.claimspayment)

LinearRegression()

In [38]:
X.describe()

In [40]:
y.describe()

count     63.000000
mean      98.187302
std       87.327553
min        0.000000
25%       38.850000
50%       73.400000
75%      140.000000
max      422.200000
Name: claims-payment, dtype: float64

In [48]:
linear.predict([[110]])

/home/wanyoike/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([395.51507737])

In [42]:
linear.coef_

array([3.41382356])

In [44]:
linear.intercept_

19.99448575911481

In [49]:
(3.41382356*110) + 19.99448575911481

395.5150773591148

361.3768417591148